:root {
  --color00: #000000;
  --color01: #0a0a0a;
  --color11: #ffffff;
  --color1: #960000;
  --color2: #690000;
  --color3: #390000;
  --color4: #190000;
  --color5: #171717;
  --color6: #FFD0B9;
  --color7: #FF6200;
  --color8: #6C0000;
  --color9: #930000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--color5);
  color: var(--color11);
  font-family: var(--font-anuphan, sans-serif);
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}