.left-side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 117vh;
    background-color: var(--color5);
}

.button-left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 47px;
    width: 308px;
    border-radius: 14px;
    border: none;
    border-style: none;
    background: linear-gradient(to right, var(--color8), var(--color9));
    color: var(--color11);
}